/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* body */

body {
	min-width: 990px; /*указывается минимальная ширина для того что бы коректно сайт отображался на разных экранах*/
	background: #FFFFFF;
}

/* header */


.container {
	width: 67%;
	margin: 0 auto;
	padding-top: 50px;
}

.wrapper {	
	width: 100%;
	background: url(../img/Home.png) no-repeat center bottom;
	height: 700px;
	position: relative;

}

.header-logo {
	float: left;
}

.header-nav {
	float: right;
	word-spacing: 40px;
}

.header-logo__img img {
		position: absolute;
	}

/* header nav*/

.header-nav li {
   display: inline-block;  /* изменяем display, что бы стали все в одни ряд */

}

.header-nav__link a {
	text-transform: uppercase; /* верхний регистр */
	font-size: 14px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; /* устанавливаем несколько шрифтов*/
	color: white; /* цвет белый */
	text-decoration: none; /* убирается подчеркивание */
}

/* header home */

.home {
	padding-top: 270px; /* опускаем текст */
	text-align: center; /* выравнииваем по центру */
	color: white;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; /* устанавливаем несколько шрифтов*/
}

.home h3 {
	font-size: 40px;
	margin-bottom: 40px; /* нижний отступ */
}

.home h1 {
	font-size: 75px;
	text-transform: uppercase;
	margin-bottom: 50px;
}

.home__button {
	width: 240px;
	height: 65px;
	text-transform: uppercase;
	color: white;
	background: #fed136;
	font-size: 14px;
	border-radius: 4px; /* закругляет углы */
	cursor: pointer; /* при наведении на кнопку, изменяется курсор на указательный*/
}

/* article service */

.service {
	width: 67%;
	margin: 0 auto;
	padding: 120px 0 120px 0;
	text-align: center;
}

.title {
	text-transform: uppercase;;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; /* устанавливаем несколько шрифтов*/
	font-size: 40px;
	color: #222;
	margin-bottom: 10px;
}

.citation {
	font-size: 15px;
	color: #777;
	margin-bottom: 22px;
}

.service-wrap {
	display: flex;
	flex-wrap: wrap;
	max-width: 100%;
	margin: 20px auto;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}

.service-wrap__text {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; /* устанавливаем несколько шрифтов*/
	font-size: 18px;
	color: #050000;
	margin: 35px 0 10px 0;
}

.service-wrap__img2 {
	padding-top: 4px;
}

.service-wrap__item p {
	color: #777;
	font-size: 15px;
	line-height:24px;
}

/* article service */

.portfolio-wrap {
	background: #f7f7f7;

}

.portfolio-container {
	width: 67%;
	margin: 0 auto;
	text-align: center;
	padding-top: 120px;
}

.portfolio-work {
	display: flex;
	flex-wrap: wrap;
	max-width: 100%;
	margin: 20px auto;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
	padding: 0px 0 120px 0;
}

.portfolio-work__item {
	background: white;
	margin-top: 50px;
	margin-left: -15px; /* отступы между фото */
}

.portfolio-work__item-name {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; /* устанавливаем несколько шрифтов*/
	font-size: 18px;
	color: #050000;
}

.portfolio-work__item p {
	color: #777;
	font-size: 15px;
	line-height:24px; /* интервал для текста */
}

/* about*/

.about-wrap {
	width: 67%;
	margin: 0 auto;
	text-align: center;
	padding-top: 120px;
}

.about-left {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

 .about-right {
 	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row-reverse;

 }

 .about-header {
 	padding-bottom: 80px;
 }

/* about content 1 */ 

.about-left__text {
	width: 35%;
	text-align: right; /* текст выравнивается по правому краю, прям как я когда выпью */ 
	line-height: 25px;

}

.about-left__img {
	width: 30%;

}

.about-left__text h3 {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; /* устанавливаем несколько шрифтов*/
	font-size: 18px;
	color: #050000;
}

.about-left__text p {
	color: #777;
	font-size: 15px;
}

/* about content 2 */ 

.about-right__text {
	width: 35%;
	text-align: left; /* текст выравнивается по правому краю, прям как я когда выпью */ 
	line-height: 25px;

}

.about-right__img {
	width: 30%;
}

.about-left__img:after {	
	content: ''; /* делаем линию*/ 
	display: block;
	margin: 0 auto; /* текст выравнивается по центру */ 
	height: 94px;
	width: 3px;
	background: #f1f1f1;
}

.about-right__img:after {	
	content: ''; /* делаем линию*/ 
	display: block;
	margin: 0 auto; /* текст выравнивается по центру */ 
	height: 94px;
	width: 3px;
	background: #f1f1f1;
}

.about-right__text h3 {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; /* устанавливаем несколько шрифтов*/
	font-size: 18px;
	color: #050000;
}

.about-right__text p {
	color: #777;
	font-size: 15px;
}

.about__img {
	padding-bottom: 120px;
}

/* team */ 

.team {
	background: #f7f7f7;

}

.team-wrap {
	width: 67%;
	margin: 0 auto;
	text-align: center;
	padding-top: 120px;
}

.team-item__img img {
	height: 220px;
	width: 220px;
	padding-bottom: 25px;
}

.team-container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-around;
}

.team-item__name {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; /* устанавливаем несколько шрифтов*/
	font-size: 18px;
	color: #050000;
}

.team-item p {
	color: #777;
	font-size: 15px;
	padding-top: 12px;
}

.team-social__img img {
	padding-right: 4px;
	padding-bottom: 50px;
}

.team-bottom {
	display: inline-block;
	color: #777;
	font-size: 15px;
	padding-top: 12px;
	padding-bottom: 120px;
}

/* team */ 

.logotype-wrap {
	width: 67%;
	margin: 0 auto;
	padding: 60px 0 60px 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-around;
}

/* contact */ 

.contact-wrap {
	width: 100%;
	background: url(../img/contact.png) no-repeat center bottom;
	height: 680px;
}

.contact-container {
	width: 67%;
	margin: 0 auto;
	
}

.contact-header {
	text-align: center;
	padding-top: 110px;
}

.contact-header__title {
	text-transform: uppercase;;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; /* устанавливаем несколько шрифтов*/
	font-size: 40px;
	color: #FFFFFF;
	margin-bottom: 10px;

}

.contact-header__citation {
	font-size: 15px;
	color: #777;
	margin-bottom: 22px;

}

.contacts-form {
	padding-top: 80px;

}

.contacts-form__wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items:stretch;	
}

.contacts-form__information {
	width: 100%;
	height: 50px;
	margin-bottom: 25px;
}

.contacts-form__message {
	height: 210px;
	width: 100%;
}

.contacts-form__left {
	width: 48%;
}

.contacts-form__right {
	width: 48%;	
}

.contacts-form__button {	
	text-align: center;
}
.contacts-form__button-send {
	width: 240px;
	height: 65px;
	text-transform: uppercase;
	color: white;
	background: #fed136;
	font-size: 14px;
	border-radius: 4px; /* закругляет углы */
	cursor: pointer; /* при наведении на кнопку, изменяется курсор на указательный*/
}
	
/* footer*/

.footer-wrap {
	/*padding-top: 45px;*/
	width: 67%;
	margin: 0 auto;
	height: 90px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.footer-wrap__text p {
	color: #777;
	font-size: 15px;
}

.footer-wrap__img {
	padding-left: 113px;
}

.footer-wrap__img img {
	padding-right: 4px;
}


/* media queris */

@media screen and (max-width: 780px) {

	.service-wrap {
	   flex-direction: column;
    }

    .service-wrap__item {
    	padding-top: 22px;
    }

    .team-container {
    	flex-direction: column;
    }

}

@media screen and (min-width: 780px) {
	
    .service-wrap__item {
    	padding-top: 22px;
    }
}

